<div class="left left-artist">
  <p><%= image_tag(@artist.image, :class => 'full-image') if @artist.image %></p>
  <div class="button-cluster">
    <%= link_to(content_tag(:div, 'Edit', class:"button"), edit_artist_path(@artist)) %>
    <%= link_to(content_tag(:div, 'Delete', class:"button"), @artist, :data => {:confirm => 'Are you sure you want to delete this work?', :method => :delete }) %>
  </div>
</div>
<div class="right right-artist">
  <h2><%= @artist.name %></h2>
  <p><%= @artist.nationality %></p>
  <p><%= @artist.dob.strftime('%B %d %Y') %></p>
  <p><%= @artist.period %></p>
  <% @artist.works.each do |work| %>
    <div class="list-row-display">
      <%= link_to(image_tag(work.image, :class => 'thumbnail')) %>
      <br>
      <%= link_to(work.title, work) %>
    </div>
  <% end %>
</div>
